:root {
    /* Primary Colors */
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);

    /* Neutral colors */
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);

    /* heading Font */
    --poppins: 'Poppins', sans-serif;

    /* Body Font */
    --open-sans: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

/** Header **/

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-logo {
    display: inline-block;
    width: 110px;
    background-image: url('./assets/icon/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header-button {
    padding: 5px;
    width: 90px;
    font-size: 1.2rem;
    background: none;
    color: var(--light-pink);
    border: 1px solid var(--light-pink);
    border-radius: 16px;
    outline: none;
}

/** First Section **/
.prin-sec {
    padding: 70px 30px;
    text-align: center;
}

.prin-sec h1 {
    font-size: 2.4rem;
    font-weight: 700;
    font-family: var(--poppins);
}

.prin-sec p {
    padding: 30px 0 50px 0;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: var(--open-sans);
    color: var(--very-dark-cyan);
}

.prin-sec button {
    padding: 13px 40px;
    font-size: 1.2rem;
    font-weight: 600;
    background: var(--pink);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 32px;
    outline: none;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}


/* Second Section */
.community {
    padding: 0 30px 70px;
    width: 100%;
    display: grid;
}

.community img {
    width: 100%;
}

.communities-ford {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.communities-ford span:nth-child(1) {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('./assets/icon/icon-communities.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.communities-ford span:nth-child(2) {
    font-size: 4.8rem;
    font-weight: 700;
    font-family: var(--open-sans);
    color: var(--very-dark-cyan);
}

.communities-ford span:nth-child(3) {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--open-sans);
    color: var(--very-dark-cyan);
    opacity: 0.4;
}

.communitites-sent {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}

.communitites-sent span:nth-child(1) {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('./assets/icon/icon-communities.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.communitites-sent span:nth-child(2) {
    font-size: 4.8rem;
    font-weight: 700;
    font-family: var(--open-sans);
    color: var(--very-dark-cyan);
}

.communitites-sent span:nth-child(3) {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--open-sans);
    color: var(--very-dark-cyan);
    opacity: 0.4;
}


/* Third Section */
.grow-tg {
    padding: 70px 0;
    position: relative;
}

.bg-top-1 {
    position: absolute;
    bottom: calc(100% - 70px);
    width: 100%;
}

.grow-content {
    padding: 70px 30px;
    background-color: #f6fbff;
}

.grow-content img {
    padding: 30px;
    width: 100%;
}

.grow-content-txt {
    padding-top: 40px;
    text-align: center;
}

.grow-content-txt h2 {
    font-size: 2rem;
    font-family: var(--poppins);
    color: var(--very-dark-cyan);
}

.grow-content-txt p {
    padding-top: 20px;
    font-size: 1.4rem;
    font-family: var(--open-sans);
    color: var(--very-dark-cyan);
}

.bg-bottom-1 {
    width: 100%;
}


/* Fourth Section */
.flowing-tg {
    padding: 40px 30px;
    text-align: center;
}

.flowing-tg img {
    padding: 30px;
    width: 100%;
}

.flowing-tg h2 {
    font-size: 2rem;
    font-family: var(--poppins);
    color: var(--very-dark-cyan);
}

.flowing-tg p {
    padding-top: 20px;
    font-size: 1.4rem;
    font-family: var(--open-sans);
    color: var(--very-dark-cyan);
}


/* Fifth Section */
.users-tg {
    padding: 210px 0;
    padding-bottom: 0;
    position: relative;
}

.bg-top-2 {
    position: absolute;
    bottom: calc(100% - 210px);
    width: 100%;
}

.users-content {
    padding: 0 30px;
    padding-bottom: 140px;
    background-color: #f6fbff;
}

.users-content img {
    padding: 30px;
    width: 100%;
}

.users-content-txt {
    padding-top: 40px;
    text-align: center;
}

.users-content-txt h2 {
    font-size: 2rem;
    font-family: var(--poppins);
    color: var(--very-dark-cyan);
}

.users-content-txt p {
    padding-top: 20px;
    font-size: 1.4rem;
    font-family: var(--open-sans);
    color: var(--very-dark-cyan);
}

.bg-bottom-2 {
    width: 100%;
}


/* Sixth Section */
.build-comm {
    margin: 100px 0 200px 0;
    text-align: center;
}

.build-comm h2 {
    font-size: 2.4rem;
    font-family: var(--poppins);
    color: var(--very-dark-cyan);
}

.build-comm button {
    margin-top: 30px;
    padding: 13px 40px;
    font-size: 1.2rem;
    font-weight: 600;
    background: var(--pink);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 32px;
    outline: none;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}


/* Footer */
footer {
    position: relative;
    background-color: #00252e;
}

.footer-bg-top {
    position: absolute;
    width: 100%;
    bottom: 100%;
}

.subscribe-section {
    padding: 30px;
}

.subscribe-section h3 {
    font-size: 1.6rem;
    font-family: var(--poppins);
    color: #fff;
}

.subscribe-section p {
    margin: 15px 0;
    font-size: 1.4rem;
    line-height: 1.8;
    font-family: var(--open-sans);
    color: #fff;
}

.sub-inp {
    padding-top: 15px;
    display: grid;
}

.sub-inp input[type="email"] {
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.subscribe-button {
    margin-top: 10px;
    width: 150px;
    justify-self: flex-end;
}

.subscribe-button input[type="button"] {
    width: 100%;
    height: 40px;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: var(--open-sans);
    background-color: var(--pink);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 8px;
}

.web-information {
    padding: 0 30px;
    margin: 30px 0;
}

.web-logo {
    width: 100%;
    display: grid;
    grid-template-columns: 44px 1fr;
    align-items: center;
}

.web-logo img {
    width: 200px;
}

.web-logo span {
    font-size: 3.2rem;
    font-family: var(--poppins);
    color: #fff;
}

.web-information p {
    margin-top: 15px;
    font-size: 1.4rem;
    line-height: 1.8;
    font-family: var(--open-sans);
    color: var(--very-pale-blue);
}

.contact-info {
    /* margin-top: 30px;
    margin-bottom: 30px; */
    padding: 30px 30px;
}

.phone-contact {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.phone-contact p {
    margin-left: 15px;
    font-size: 1.4rem;
    font-family: var(--open-sans);
    color: var(--very-pale-blue);
}

.email-contact {
    display: flex;
    align-items: center;
}

.email-contact p {
    margin-left: 15px;
    font-size: 1.4rem;
    font-family: var(--open-sans);
    color: var(--very-pale-blue);
}

.social-icons {
    padding: 0 30px 30px 20px;
}

.social-icons a {
    text-decoration: none;
}

.social {
    width: 40px;
}