:root {
    /* Primary Colors */
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);

    /* Neutral colors */
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);

    /* heading Font */
    --poppins: 'Poppins', sans-serif;

    /* Body Font */
    --open-sans: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

/** Header **/

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-logo {
    display: inline-block;
    width: 110px;
    background-image: url('./assets/icon/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header-button {
    padding: 5px;
    width: 90px;
    font-size: 1.2rem;
    background: none;
    color: var(--light-pink);
    border: 1px solid var(--light-pink);
    border-radius: 16px;
    outline: none;
}

/** First Section **/
.prin-sec {
    padding: 70px 30px;
    text-align: center;
}

.prin-sec h1 {
    font-size: 2.4rem;
    font-weight: 700;
    font-family: var(--poppins);
}

.prin-sec p {
    padding: 30px 0 50px 0;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: var(--open-sans);
    color: var(--very-dark-cyan);
}

.prin-sec button {
    padding: 13px 40px;
    font-size: 1.2rem;
    font-weight: 600;
    background: var(--pink);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 32px;
    outline: none;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

img {
    width: 250px;
}
